*{
    font-family: vazir;
}
.img_profile_header{
    width: 60px;
    height: 60px;
    background-color: #dc3545;
    border-radius: 50%;
    margin-left : 10px;
}

.tm-bg-gray.pt-5.pb-3.tm-text-gray.tm-footer {
    direction: rtl;
    text-align: right;
}
.d-flex.position-absolute.tm-search-form {
     direction: rtl;
    text-align: right;

}
.btn-group {
    direction: rtl;
    text-align: right;

}
.dropdown-menu.show {
  text-align: right;
}
.row.mb-4 {
  direction: rtl;
  text-align: right;
}

.tm-text-primary.mb-5 {
  margin-right: 20%;
}
.rtl {
  direction: rtl;
  text-align: right;
}

.img{
    border-radius: 50%;
}