{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
{% include 'inc/head.html' %}
    <title>video see | {% block title %}{% endblock %}</title>
</head>
<body>
<!-- Page Loader -->
<div id="loader-wrapper">
<div id="loader"></div>

<div class="loader-section section-left"></div>
<div class="loader-section section-right"></div>

</div>
<nav class="navbar navbar-expand-lg">
{% include 'inc/navbar.html' %}
</nav>

<div class="tm-hero d-flex justify-content-center align-items-center" id="tm-video-container">
        <video autoplay muted loop id="tm-video">
            <source src="{% static 'video/hero.mp4' %}" type="video/mp4">
        </video>
        <i id="tm-video-control-button" class="fas fa-pause"></i>
        <form class="d-flex position-absolute tm-search-form">
            <input class="form-control tm-search-input" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success tm-search-btn" type="submit">
                <i class="fas fa-search"></i>
            </button>
        </form>
    </div>


{% block base %}

{% endblock %}



<footer class="tm-bg-gray pt-5 pb-3 tm-text-gray tm-footer">
{% include 'inc/footer.html' %}
</footer>


</body>
</html>